body {
  padding: 0px;
  margin: 0px;
  height: 100vh;
}

h1 {
    margin-top: 50px;
    margin-bottom: 5px;
    font-size: 3.5em;
}
  
.center {
    text-align: center;
}

.controllerStatus {
    text-align: center;
}
  
#controllerConnected {
    color: rgb(18, 243, 18);
}
  
#connectedArea {
  margin-top: 15px;
    display: none;
}

#unconnectedArea {
  margin-top: 15px;
    color: rgb(255, 0, 100);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
  
#rumbleArea {
    margin-bottom: 10px;
    text-align: center;
}

.loadingSymbol {
    display: inline-block;
    border: 8px solid #484848;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    border-bottom: 8px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

/* button grid */
#buttons {
  display: grid;
  grid-template-columns: repeat(8, minmax(min-content, max-content));
  grid-gap: 15px;
  justify-content: center;
  justify-items: start;
}

.button {
  background-color: rgb(223, 222, 222);
  height: 50px;
  min-width: 50px;
  display: flex;
}

.button-text-area {
  padding-left: 10px;
  padding-right: 10px;
}

.button-name {
  color: black;
}


/* controller */

.selected-button {
  fill: rgb(255, 0, 100);
}
  
.axis-name{
  color: grey;
  font-weight: bolder;
}

.axis-value{
  color: rgb(255, 0, 100);
}